body {
	font-family: Didot,"Didot LT STD","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: -webkit-linear-gradient(bottom,#188BC0 0%,lightcyan 100%);
}

h1 {
	padding: 5px;
	text-align: center;
}

div {
	margin: 0 20px 0 20px;
}

h1, .home {
	border-radius: 10px;
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    color: white;
}

.username {
	font-weight: bold;
	color: #357EC7;
}

.time {
	float: right;
	font-style: italic;
	color: gray; 
	padding-top: 5px;
}

.message {
	border: 2px solid #188BC0;
	border-radius: 10px;
	padding: 5px 0 5px 0;
	margin-bottom: 5px;
    background: -webkit-linear-gradient(top,lightcyan 0%,white 100%);
}

.message:hover>.time, .message:hover {
	color: white;
}

.message:hover, .home:hover {
	background: -webkit-linear-gradient(top,lightcyan 0%,#25A6E1 100%);
}



